<script setup lang="ts">
import type { AuthenticationToken } from "@/types/authentication";
import type { OwnedBook } from "@/types/boukinApi";
import type { Friendship } from "@/types/friendship";

const route = useRoute();
const friendshipId = route.params.user;
const config = useRuntimeConfig();
const userCookie = useCookie<AuthenticationToken>("userCookie");
const books = ref<OwnedBook[]>([]);
const booksError = ref();

/** Checks if user is a friend */
const { data: friendship, error: userError } = await useFetch<Friendship>(
  `/users/${userCookie.value.user_id}/friendships/${friendshipId}/`,
  {
    baseURL: config.public.apiBoukinBaseUrl,
    headers: {
      Authorization: `Token ${userCookie.value.token}`,
    },
  },
);

/** If user is a friend, retrieve their books */
if (friendship.value && friendship.value.status === "friendship_active") {
  const userId = friendship.value.friend.user_id;
  const { data, error } = await useFetch<OwnedBook[]>(
    `/users/${userId}/owned-books/`,
    {
      baseURL: config.public.apiBoukinBaseUrl,
      headers: {
        Authorization: `Token ${userCookie.value.token}`,
      },
    },
  );
  if (data.value) books.value = data.value;
  booksError.value = error.value;
  useHead({ title: `Livres de ${friendship.value.friend.username}` });
}
</script>

<template>
  <main>
    <section v-if="friendship && friendship.status === 'friendship_active'">
      <h1>Bibliothèque de {{ friendship.friend.username }} :</h1>
      <ul v-if="books && books.length > 0">
        <li v-for="book in books" :key="book.owned_book_id">
          <MoleculesOwnedbookCard
            :title="book.book.title"
            :author="book.book.author_fname + ' ' + book.book.author_lname"
            :status="book.status"
            :has-loan-button="true"
            :owned-book-id="book.owned_book_id"
            :owner-id="friendship.friend.user_id"
          />
        </li>
      </ul>
      <p v-else>Aucun livre n'a été trouvé. {{ booksError }}</p>
    </section>
    <section
      v-else-if="
        (userError && userError.statusCode === 404) ||
        (friendship && friendship.status !== 'friendship_active')
      "
    >
      <p>Vous n'êtes pas autorisé à accéder à ce profil. {{ userError }}</p>
    </section>
    <section v-else>
      <p>
        Une erreur est survenue, veuillez réessayez plus tard. {{ userError }}
      </p>
    </section>
  </main>
</template>

<style scoped>
section {
  background-color: var(--pale-100);
  padding: 16px;
  margin: 1rem 1rem 7rem;
}
ul {
  margin-top: 32px;
  list-style-type: none;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
li {
  display: flex;
}
@media (width>= 480px) {
  section {
    margin-top: 7rem;
  }
}
@media (width>= 768px) {
  section {
    margin: 10rem 10% 7rem;
  }
}
@media (width>=1400px) {
  section {
    margin: 10rem 20% 7rem;
  }
}
</style>
