<script setup lang="ts">
useHead({ title: "Mes ami-e-s" });
/** Fetch API to get Friendships */
const { friendships, error: fetchError } = await fetchFriendships();

const updateFriendships = async () => {
  const { friendships: updatedFriendships } = await fetchFriendships();
  friendships.value = updatedFriendships.value;
};

/** Data for friendship requests section */
const friendshipRequests = computed(() =>
  friendships.value?.filter(
    (friendship) =>
      friendship.status === "friendship_requested" &&
      friendship.friend.is_requesting_user,
  ),
);

/** Data for friends list section */
const activeFriendships = computed(() =>
  friendships.value?.filter(
    (friendship) =>
      friendship.status === "friendship_active" &&
      friendship.friend.role !== "external",
  ),
);
</script>

<template>
  <main>
    <header>
      <h1>Mes ami·e·s</h1>
      <NuxtLink to="/friends/search" class="navigation-button primary-button">
        <img src="assets/svg/plus-solid.svg" aria-hidden="true" />
        <span>Ajouter un·e ami·e</span>
      </NuxtLink>
    </header>
    <p v-if="fetchError">
      Aucune amitié n'a été trouvée. ( {{ fetchError.message }} )
    </p>
    <template v-else>
      <OrganismsFriendsRequestSection
        :friendship-requests="friendshipRequests"
        @update-friendship="updateFriendships"
      />
      <OrganismsFriendsListSection
        :friendships="activeFriendships"
        @update-friendship="updateFriendships"
      />
    </template>
  </main>
</template>

<style scoped>
main {
  margin: 0 1rem 4rem;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--pale-200);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  align-items: center;
}
span {
  display: none;
}
img {
  height: 1.5rem;
  vertical-align: middle;
}
.navigation-button {
  padding: 0.5rem 0;
}

@media (width>= 480px) {
  header {
    margin-top: 7rem;
  }
}

@media (width>= 768px) {
  span {
    display: inline;
  }
  header {
    padding: 32px 0 16px;
    top: 7rem;
  }
  main {
    margin: 0 10%;
  }
  .navigation-button {
    padding: 0.5rem;
  }
}
@media (width>=1400px) {
  main {
    margin: 0 20%;
  }
}
</style>
