<script setup lang="ts">
import type { Props as MoleculesUserCardProps } from "~/components/molecules/user-card.vue";
import type { Friendship } from "~/types/friendship";
import type { User } from "~/types/user";
import type { AuthenticationToken } from "~/types/authentication";

useHead({ title: "Ajouter un-e ami-e" });
const config = useRuntimeConfig();

const { friendships } = await fetchFriendships();
const userCookie = useCookie<AuthenticationToken>("userCookie");
const isSearchDone = ref(false);
const hasResult = ref(false);
const retrievedUser = ref<MoleculesUserCardProps>({
  username: "",
  userId: "",
  email: "",
  variant: "disabled",
});

const searchUser = async (formData: { [key: string]: string }) => {
  isSearchDone.value = false;
  hasResult.value = false;
  retrievedUser.value = {
    username: "",
    userId: "",
    email: "",
    variant: "disabled",
  };
  const email = formData["email"];

  searchWithinFriends(email);
  if (!hasResult.value) {
    searchWithinUsers(email);
  }
  isSearchDone.value = true;
};

const searchWithinFriends = (email: User["email"]) => {
  const existingFriend = friendships.value.find(
    (friendship) => friendship.friend.email === email,
  );
  if (existingFriend) {
    retrievedUser.value = {
      username: existingFriend.friend.username,
      userId: existingFriend.friend.user_id,
      email: email,
      variant: findVariant(
        existingFriend.status,
        existingFriend.friend.is_requesting_user,
      ),
      friendshipId: existingFriend.friendship_id,
    };
    hasResult.value = true;
  }
};

const findVariant = (
  status: Friendship["status"],
  isRequestingUser: Friendship["friend"]["is_requesting_user"],
): MoleculesUserCardProps["variant"] => {
  if (status === "friendship_requested") {
    return "requestSent";
  } else if (status === "friendship_active") {
    return "alreadyFriends";
  } else if (
    (isRequestingUser && status === "friendship_over") ||
    (!isRequestingUser && status === "friendship_denied")
  ) {
    return "disabled";
  }
  return "active";
};

const searchWithinUsers = async (email: string) => {
  const { data, error } = await useFetch<{
    username: User["username"];
    user_id: User["user_id"];
  }>(`/users/search/?email=${email}`, {
    baseURL: config.public.apiBoukinBaseUrl,
    method: "GET",
    headers: {
      Authorization: `Token ${userCookie.value.token}`,
    },
  });
  if (error.value) {
    console.error("Error:", error.value);
  } else if (data.value) {
    retrievedUser.value = {
      username: data.value.username,
      userId: data.value.user_id,
      email: email,
      variant: email === userCookie.value.email ? "disabled" : "active",
    };
    hasResult.value = true;
  }
};
</script>

<template>
  <main>
    <header>
      <h1>
        <a href="/friends">Mes ami·e·s</a>
        <span aria-hidden="true"> › </span>
        Ajouter un·e ami·e
      </h1>
    </header>

    <!-- Searchbar section -->
    <section aria-label="Barre de recherche">
      <h2>Recherche par e-mail :</h2>
      <MoleculesForm
        :form-name="'user-search'"
        :submit-button="{
          label: 'Rechercher',
          hasSearchIcon: true,
        }"
        :fields="[
          {
            name: 'email',
            placeholder: 'email@exemple.com',
            type: 'email',
            id: 'user-search-email',
            autocomplete: 'e-mail',
            isRequired: true,
          },
        ]"
        @submit="searchUser"
      />
    </section>

    <!-- Search results section -->
    <section v-if="isSearchDone" aria-label="Résultats de la recherche">
      <p v-if="!hasResult">
        Nous n’avons pas trouvé d’utilisateur·ice correspondant à votre
        recherche.
      </p>
      <MoleculesUserCard v-if="hasResult" v-bind="retrievedUser" />
    </section>
  </main>
</template>
<style scoped>
main {
  margin: 0 16px 64px;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--pale-200);
  padding: 16px 0;
  position: sticky;
  top: 0;
}
a {
  text-decoration: none;
  color: var(--dark-200);
}
section {
  background-color: var(--pale-100);
  padding: 32px 16px;
  margin: 16px 0;
}
h2 {
  margin-bottom: 1rem;
}

:deep(.text-input) {
  border: 1px solid var(--dark-200) !important;
}

@media (width>= 480px) {
  header {
    margin-top: 7rem;
  }
}

@media (width>= 768px) {
  header {
    padding: 32px 0 16px;
    top: 7rem;
  }
  main {
    margin: 0 10%;
  }
}
@media (width>=1400px) {
  main {
    margin: 0 20%;
  }
}
</style>
