@import url('https://fonts.googleapis.com/css2?family=Reddit+Sans:ital,wght@0,200..900;1,200..900&display=swap');

:root {

	/* Default colors */
	--pale-100: #fdfaf8;
	--pale-200: #f4eae3;
	--pale-300: #eadace;
	--pale-400: #dbbfaa;
	--pale-500: #C39F7F;

	--dark-100: #33251E;
	--dark-200: #1b0f09;

	/* Accent colors */
	--brown-100: #6a5035;
	--brown-200: #3e2914;

	--burgundy-100: #5c1414;
	--burgundy-200: #3c120f;

	/* Background color for warning block */
	--warning: #ebc6c6;

	--green-100: #d0e3d0;
	--green-200: #2d4d38;

	/* Gray scale for disabled elements */
	--gray-100: #eeeeee;
	--gray-200: #bbbbbb;
	--gray-300: #888888;
	--gray-400: #646464;

	--dark-overlay: rgba(0, 0, 0, 0.6);
	/* Default font */
	--main-font-family: "Reddit sans", sans-serif;
	--main-font-weight: 300;
	--main-font-style: normal;

}

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	font-family: var(--main-font-family);
	font-weight: var(--main-font-weight);
	font-style: var(--main-font-style);
	background-color: var(--pale-200);
}


a.friend {
	color: var(--dark-100);
	text-decoration: none;
	font-weight: 600;
	transition: color 0.3s
}

a.friend:hover {
	text-decoration: underline;
}

/* Buttons style */
button,
.navigation-button,
input[type="submit"] {
	border-radius: 0.5rem;
	border: 1px solid;
	padding: 0.5rem;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
	display: flex;
	gap: 1rem;
	min-width: 3rem;
	text-decoration: none;
}

button:disabled {
	cursor: default;
	background-color: var(--gray-200);
	color: var(--gray-400);
	box-shadow: none;
	border-color: var(--gray-400);
}

main {

	min-height: 70vh;

}

.green-button {
	background-color: var(--green-100);
	color: var(--green-200);
	border-color: var(--green-200);
}

.red-button {
	background-color: var(--warning);
	color: var(--burgundy-100);
	border-color: var(--burgundy-100);
}

.red-button:hover,
.green-button:hover {
	filter: saturate(150%) brightness(90%);
}

.primary-button {
	color: var(--pale-100);
	background-color: var(--brown-100);
	border-color: var(--brown-200);
}

.primary-button:hover {
	background-color: var(--brown-200);
}

.secondary-button {
	color: var(--brown-100);
	background-color: var(--pale-100);
	border-color: var(--brown-100);
}

.secondary-button:hover {
	background-color: var(--pale-200);
}
