<template>
  <footer>
    <div>
      <h4>Prêts</h4>
      <a href="/loans">Mes prêts</a>
      <a href="/loans/new">Nouveau prêt</a>
      <h4>Bibliothèque</h4>
      <a href="/books">Ma bibliothèque</a>
      <a href="/books/new">Ajouter un livre</a>
    </div>
    <div>
      <h4>Ami-e-s</h4>
      <a href="/friends">Mes ami-e-s</a>
      <a href="/friends/search">Ajouter un-e ami-e</a>
      <h4>Compte</h4>
      <a href="/account">Mon compte</a>
    </div>
    <div>
      <h4><a href="/legal">Mentions légales</a></h4>
    </div>
  </footer>
</template>
<style scoped>
footer {
  background-color: var(--dark-200);
  color: white;
  display: flex;
  padding-bottom: 65px;
  flex-direction: row;
  justify-content: space-evenly;
}
div a {
  text-decoration: none;
  color: var(--pale-100);
  padding-bottom: 2px;
}
div {
  display: flex;
  flex-direction: column;
}
h4 {
  padding-top: 12px;
}
</style>
