<script setup lang="ts">
import type { Friendship } from "~/types/friendship";
defineProps<{
  friendshipRequests?: Friendship[];
}>();
const emit = defineEmits(["updateFriendship"]);
</script>
<template>
  <section>
    <h2>Mes invitations en attente :</h2>
    <p v-if="!friendshipRequests || friendshipRequests.length <= 0">
      Vous n'avez pas d'invitation pour le moment.
    </p>
    <ul v-else aria-label="Demandes d'amitié">
      <li v-for="item in friendshipRequests" :key="item.friendship_id">
        <MoleculesFriendRequest
          :friendship-id="item.friendship_id"
          :user-id="item.friend.user_id"
          :username="item.friend.username"
          @update-friendship="emit('updateFriendship')"
        />
      </li>
    </ul>
  </section>
</template>
<style scoped>
section {
  background-color: var(--pale-100);
  padding: 16px;
  margin: 1rem 0;
}
ul {
  list-style-type: none;
}
li:not(:last-child) {
  border-bottom: 1px solid var(--gray-300);
}
</style>
