<script setup lang="ts">
import type { Friendship } from "~/types/friendship";
defineProps<{
  friendships?: Friendship[];
}>();
const emit = defineEmits(["updateFriendship"]);
</script>
<template>
  <section>
    <h2>Ma liste d'ami·e·s :</h2>
    <p v-if="!friendships || friendships.length <= 0">
      Vous n'avez pas d'amitiés pour le moment.
    </p>
    <ul v-else aria-label="Liste d'amis">
      <li
        v-for="{ friend, friendship_id } in friendships"
        :key="friend.user_id"
      >
        <MoleculesFriendCard
          :user-id="friend.user_id"
          :username="friend.username"
          :email="friend.email"
          :friendship-id="friendship_id"
          @update-friendship="emit('updateFriendship')"
        />
      </li>
    </ul>
  </section>
</template>
<style scoped>
section {
  background-color: var(--pale-100);
  padding: 16px;
  margin: 16px 0;
}
ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
}
@media (width< 1024px) {
  li:not(:last-child) {
    border-bottom: 1px solid var(--gray-300);
  }
}

@media (width>= 1024px) {
  ul {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }
  li:not(:nth-last-child(-n + 2)) {
    border-bottom: 1px solid var(--gray-300);
  }
}
</style>
