<script setup lang="ts">
import type { Loan } from "~/types/loan";
import { ButtonText, LoanUpdateType } from "../../types/loan";

interface Props {
  loan: Loan;
  loanUpdateType: LoanUpdateType;
}

const props = defineProps<Props>();
const isModalVisible = ref(false);
const startingDate = defineModel<String>("startingDate");
const endingDate = defineModel<String>("endingDate");
const dates = computed(() => {
  const starting_date = startingDate.value;
  const ending_date = endingDate.value;
  return { starting_date, ending_date };
});

const buttonText = computed(() => {
  switch (props.loanUpdateType) {
    case LoanUpdateType.LoanRequest:
      return ButtonText.LoanRequest;
    case LoanUpdateType.ReturningLoan:
      return ButtonText.ReturningLoan;
    case LoanUpdateType.AskingBookReturn:
      return ButtonText.AskingBookReturn;
    case LoanUpdateType.BookReturn:
      return ButtonText.BookReturn;
  }
});

function showModal() {
  isModalVisible.value = true;
}
function closeModal() {
  isModalVisible.value = false;
}
</script>

<template>
  <button class="primary-button" @click="showModal">
    {{ buttonText }}
  </button>
  <AtomsModal v-if="isModalVisible" @close-modal="closeModal">
    <form
      v-if="loanUpdateType == LoanUpdateType.LoanRequest"
      aria-label="Demande de prêt"
    >
      <p>
        {{ loan.borrower.username }} désire emprunter
        <em> {{ loan.owned_book.book.title }} </em> de
        {{
          `${loan.owned_book.book.author_fname} ${loan.owned_book.book.author_lname}`
        }}
      </p>
      <label for="start-loan-date-input">Date de début du prêt</label>
      <input id="start-loan-date-input" v-model="startingDate" type="date" />
      <label for="end-loan-date-input">Date désirée de fin du prêt</label>
      <input id="end-loan-date-input" v-model="endingDate" type="date" />
      <MoleculesLoanUpdate
        :loan-update-type="LoanUpdateType.LoanRequest"
        :dates="dates"
        :loan-id="loan.loan_id"
      />
    </form>
    <form
      v-else-if="loanUpdateType == LoanUpdateType.BookReturn"
      aria-label="Confirmation de rendu de prêt"
    >
      <p>
        {{ loan.borrower.username }} déclare vous avoir rendu
        <em> {{ loan.owned_book.book.title }} </em> de
        {{
          `${loan.owned_book.book.author_fname} ${loan.owned_book.book.author_lname}`
        }}
      </p>
      <p>Date de prêt: {{ loan.starting_date }}</p>
      <p>Date désirée de rendu: {{ loan.ending_date }}</p>
      <MoleculesLoanUpdate
        :loan-update-type="LoanUpdateType.BookReturn"
        :loan-id="loan.loan_id"
      />
    </form>
    <form
      v-else-if="loanUpdateType == LoanUpdateType.AskingBookReturn"
      aria-label="Demande de retour de prêt"
    >
      <p>
        Vous souhaitez réclamer <em>{{ loan.owned_book.book.title }} </em> de
        {{ loan.owned_book.book.author_fname }}
        {{ loan.owned_book.book.author_lname }}, prêté à
        {{ loan.borrower.username }}
      </p>
      <p>Date de prêt: {{ loan.starting_date }}</p>
      <p>Date désirée de rendu: {{ loan.ending_date }}</p>
      <MoleculesLoanUpdate
        :loan-update-type="LoanUpdateType.AskingBookReturn"
        :loan-id="loan.loan_id"
      />
    </form>
    <form v-else aria-label="Déclaration de rendu de livre emprunté">
      <p>
        Vous souhaitez rendre <em> {{ loan.owned_book.book.title }} </em> de
        {{ loan.owned_book.book.author_fname }}
        {{ loan.owned_book.book.author_lname }}, emprunté à
        {{ loan.owner.username }}
      </p>
      <p>Date de prêt: {{ loan.starting_date }}</p>
      <p>Date désirée de rendu: {{ loan.ending_date }}</p>
      <MoleculesLoanUpdate
        :loan-update-type="LoanUpdateType.ReturningLoan"
        :loan-id="loan.loan_id"
      />
    </form>
  </AtomsModal>
</template>

<style scoped>
button {
  height: 40px;
  width: 150px;
}

input {
  align-self: center;
  width: 30%;
  margin-bottom: 20px;
}
p {
  width: 80%;
}

.modal form {
  display: flex;
  flex-direction: column;
}
.button-wrapper {
  position: absolute;
  top: 10px;
  right: 25px;
}
.modal p,
label {
  font-weight: bold;
  margin-bottom: 10px;
  border-radius: 50px;
}

@media screen and (min-width: 481px) {
  input {
    width: 50%;
  }
  .modal {
    width: 50%;
  }

  .modal p,
  label,
  input {
    margin-bottom: 20px;
  }
}
</style>
