<script setup lang="ts">
import type { Props as FormProps } from "~/components/molecules/form.vue";
import type { UserAuthentication } from "~/types/authentication";
import { TextLevel } from "~/types/text";

const hasAuthFailed = ref(false);
const isLoading = ref(false);
const isMessageDisplayed = ref(false);
const loginForm: FormProps = {
  formName: "login",
  submitButton: {
    label: "Je me connecte",
  },
  fields: [
    {
      name: "email",
      type: "email",
      id: "login-email",
      autocomplete: "e-mail",
      placeholder: "e-mail",
    },
    {
      name: "password",
      type: "password",
      id: "login-password",
      autocomplete: "current-password",
      placeholder: "mot de passe",
    },
  ],
};

const messageDisplayed = computed(() => {
  const messages = {
    missingField: "Tous les champs sont obligatoires.",
    authFailure: "Echec de l'authentification.",
  };
  if (hasAuthFailed.value) return messages.authFailure;
});

const handleAuth = async (formData: UserAuthentication) => {
  isLoading.value = true;
  const { error } = await useAuthCookie(formData.email, formData.password);
  if (error.value) {
    console.error(error.value);
    isLoading.value = false;
    hasAuthFailed.value = true;
    isMessageDisplayed.value = true;
  } else {
    navigateTo("/");
  }
};
</script>

<template>
  <MoleculesForm v-bind="loginForm" @submit="handleAuth" />
  <div v-if="isLoading">Chargement...</div>
  <AtomsTextBlock
    v-if="isMessageDisplayed && messageDisplayed"
    :text="messageDisplayed"
    :level="TextLevel.Warning"
  />
</template>

<style scoped>
form {
  display: flex;
  flex-direction: column;
}
</style>
