<template>
  <nav class="web-navbar" aria-label="Barre de navigation web">
    <img src="assets/svg/full-logo.svg" alt="Logo de Boukin" />
    <ul class="navbar-menu" aria-label="Menu de Boukin">
      <li><a class="navbar-link" href="/">Tableau de bord</a></li>
      <li><a class="navbar-link" href="/loans">Mes prêts</a></li>
      <li>
        <a class="navbar-link" href="/books">Ma bibliothèque</a>
      </li>
      <li><a class="navbar-link" href="/friends">Mes ami-e-s</a></li>
      <li><a class="navbar-link" href="/account">Mon compte</a></li>
    </ul>
  </nav>
  <nav class="mobile-navbar" aria-label="Barre de navigation mobile">
    <ul class="navbar-menu">
      <li>
        <a href="/"><img src="assets/svg/logo.svg" alt="Tableau de bord" /></a>
      </li>
      <li>
        <a href="/loans"><img src="assets/svg/loan.svg" alt="Mes prêts" /></a>
      </li>
      <li>
        <a href="/books"
          ><img src="assets/svg/collection.svg" alt="Ma bibliothèque"
        /></a>
      </li>
      <li>
        <a href="/friends"
          ><img src="assets/svg/friend.svg" alt="Mes ami-e-s"
        /></a>
      </li>
      <li>
        <a href="/account"
          ><img src="assets/svg/account.svg" alt="Mon compte"
        /></a>
      </li>
    </ul>
  </nav>
</template>

<style scoped>
nav {
  background: var(--burgundy-100);
  box-shadow: 0.25rem 0.25rem 1rem var(--dark-overlay);
  z-index: 1;
}

.navbar-menu {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  gap: 2em;
}

/* MOBILE NAVBAR */

@media screen and (max-width: 480px) {
  img {
    height: 40px;
    width: 40px;
  }

  ul {
    padding-left: 0;
  }
  .mobile-navbar {
    display: flex;
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }

  .web-navbar {
    display: none;
  }
}

/* DESKTOP NAVBAR */

@media screen and (min-width: 481px) {
  a,
  button {
    letter-spacing: 1em;
    transition: text-shadow 0.1s;
  }

  li {
    height: 40px;
    width: 180px;
  }

  li:has(> .navbar-link:focus) {
    height: 100%;
  }

  button {
    all: unset;
    cursor: pointer;
  }

  img {
    padding-top: 5px;
    margin-top: 15px;
  }

  .web-navbar {
    display: flex;
    position: fixed;
    top: 0;
    overflow: hidden;
    height: 7rem;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .mobile-navbar {
    display: none;
  }

  .navbar-menu {
    overflow: auto;
  }

  .book-collection-link {
    color: var(--pale-100);
    text-decoration: none;
    font-size: 1.5rem;
  }

  .navbar-link {
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.36px;
    color: var(--pale-100);
    text-decoration: none;
    font-size: 1.5rem;
  }

  .navbar-link:focus {
    background-color: var(--pale-400);
    color: var(--dark-200);
    padding: 0px 5px 0px 5px;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-bottom: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
  }

  .navbar-link:hover {
    font-weight: 400;
  }
}
</style>
