<script setup lang="ts">
import type { Book } from "~/types/boukinApi";
import type { AuthenticationToken } from "~/types/authentication";
import type { Props as InputProps } from "~/components/atoms/input.vue";
import type { Props as MoleculesBookAddProps } from "~/components/molecules/book-add.vue";

const config = useRuntimeConfig();
const userCookie = useCookie<AuthenticationToken>("userCookie");

const selectedOption = ref("isbn");
const isSearchDone = ref(false);
const retrievedBooks = ref<MoleculesBookAddProps[]>([]);
const errorMessage = ref("");
const searchFields = computed((): InputProps[] => {
  switch (selectedOption.value) {
    case "isbn":
      return [
        {
          name: "isbn",
          type: "text",
          placeholder: "ISBN (ex : 9782412091784)",
          id: `book-search-${selectedOption.value}`,
          isRequired: true,
        },
      ];
    case "title":
      return [
        {
          name: "title",
          type: "text",
          placeholder: "Titre du livre",
          id: `book-search-${selectedOption.value}`,
          isRequired: true,
        },
      ];
    case "author":
      return [
        {
          name: "author-lname",
          placeholder: "Nom de l'auteur·rice",
          type: "text",
          id: "book-search-author-lname",
          isRequired: true,
        },
        {
          name: "author-fname",
          type: "text",
          placeholder: "Prénom de l'auteur·rice (facultatif)",
          id: "book-search-author-fname",
        },
      ];
    default:
      return [];
  }
});

const generateSearchAPIurl = (formData: { [key: string]: string }) => {
  if (selectedOption.value === "author") {
    if (formData["author-fname"]) {
      return `/books/?author_lname=${formData["author-lname"]}&author_fname=${formData["author-fname"]}`;
    }
    return `/books/?author_lname=${formData["author-lname"]}`;
  }
  return `/books/?${selectedOption.value}=${formData[selectedOption.value]}`;
};

const handleSubmitSearch = async (formData: { [key: string]: string }) => {
  isSearchDone.value = false;
  errorMessage.value = "";
  const searchAPIurl = generateSearchAPIurl(formData);
  const { data, error } = await useFetch(searchAPIurl, {
    baseURL: config.public.apiBoukinBaseUrl,
    method: "GET",
    headers: {
      Authorization: `Token ${userCookie.value.token}`,
    },
  });
  if (error.value) {
    if (error.value.statusCode == 404) {
      errorMessage.value =
        "Nous n'avons pas trouvé de livre correspondant à votre recherche";
    } else {
      errorMessage.value =
        "Une erreur s'est produite lors de la recherche : " +
        error.value.message;
    }
  } else if (data.value) {
    retrievedBooks.value = (data.value as Book[]).map((book) => {
      return {
        bookId: book.book_id,
        bookTitle: book.title,
        authorFirstName: book.author_fname,
        authorLastName: book.author_lname,
      };
    });
  }
  isSearchDone.value = true;
};
</script>

<template>
  <!-- Searchbar section -->
  <section aria-label="Barre de recherche de livres">
    <div class="search-options">
      <h2>Recherche par :</h2>
      <AtomsSegmentedControl
        v-model="selectedOption"
        role="radiogroup"
        name="filter"
        :options="[
          { label: 'isbn', value: 'isbn' },
          { label: 'titre', value: 'title' },
          { label: 'auteur·rice', value: 'author' },
        ]"
      />
    </div>
    <MoleculesForm
      :form-name="'book-search'"
      :submit-button="{
        label: 'Rechercher',
        hasSearchIcon: true,
      }"
      :fields="searchFields"
      @submit="handleSubmitSearch"
    />
  </section>

  <!-- Search results section -->
  <section v-if="isSearchDone" aria-label="Résultats de la recherche de livres">
    <p v-if="errorMessage != ''">{{ errorMessage }}</p>
    <ul v-else id="books-searched-list">
      <li v-for="book in retrievedBooks" :key="book.bookId">
        <MoleculesBookAdd v-bind="book" />
      </li>
    </ul>
  </section>
</template>

<style scoped>
h2 {
  margin-bottom: 0.5rem;
}
section {
  background-color: var(--pale-100);
  padding: 32px 16px;
  margin: 16px 0;
}
ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr;
}
.search-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

:deep(.text-input) {
  border: 1px solid var(--dark-200) !important;
}

@media (width< 768px) {
  li:not(:last-child) {
    border-bottom: 1px solid var(--gray-300);
  }
}

@media (width>= 768px) {
  ul {
    grid-template-columns: 1fr 1fr;
    column-gap: 16px;
  }
  h2 {
    margin-bottom: 0;
  }
  li:not(:nth-last-child(-n + 2)) {
    border-bottom: 1px solid var(--gray-300);
  }
  .search-options {
    display: flex;
    flex-direction: row;
  }
}
</style>
