<script setup lang="ts">
import type { Props as FormProps } from "~/components/molecules/form.vue";
import type { BookCreation } from "~/types/boukinApi";
import { postBook, postOwnedBook } from "~/composables/useBooks";

const newBookForm: FormProps = {
  formName: "newBook",
  ariaLabel: "Ajout d'un livre",
  submitButton: {
    label: "Ajouter le livre",
  },
  fields: [
    {
      name: "isbn",
      type: "text",
      id: "new-book-isbn",
      placeholder: "ISBN du livre (ex : 9782412091784)",
    },
    {
      name: "title",
      type: "text",
      id: "new-book-title",
      placeholder: "Titre du livre",
    },
    {
      name: "author_fname",
      type: "text",
      id: "new-book-author_fname",
      placeholder: "Prénom de l'auteur·rice",
    },
    {
      name: "author_lname",
      type: "text",
      id: "new-book-author_lname",
      placeholder: "Nom de l'auteur·rice",
    },
  ],
};
const message = ref("");

const validateNewBookForm = (formData: BookCreation) => {
  const requiredKeys: (keyof BookCreation)[] = [
    "isbn",
    "title",
    "author_fname",
    "author_lname",
  ];
  return requiredKeys.every((key) => formData[key] && formData[key].length > 0);
};
const handleAddBook = async (formData: BookCreation) => {
  if (!validateNewBookForm(formData)) {
    message.value =
      "Ajout du livre impossible : tous les champs sont obligatoires !";
  } else {
    const { data: postBookData, error: postBookError } =
      await postBook(formData);
    if (postBookData.value) {
      const book_id = postBookData.value["book_id"];
      const { error: postOwnedBookError } = await postOwnedBook(book_id);
      if (!postOwnedBookError.value) {
        message.value = "Le livre a bien été ajouté à la bibliothèque !";
      } else {
        message.value =
          "Erreur lors de l'ajout du livre à la bibliothèque : " +
          postBookError.value;
      }
    } else {
      message.value =
        "Erreur lors de la création du livre : " +
        postBookError.value +
        "<br/>Ce livre est peut-être déjà enregistré en base de données, pensez à utiliser le mode 'recherche'.";
    }
  }
};
</script>

<template>
  <section>
    <h2>Ajouter un nouveau livre à ma bibliothèque</h2>
    <MoleculesForm v-bind="newBookForm" @submit="handleAddBook" />
    <p v-html="message"></p>
  </section>
</template>

<style scoped>
h2 {
  margin-bottom: 0.5rem;
}
section {
  background-color: var(--pale-100);
  padding: 32px 16px;
  margin: 16px 0;
}
form {
  display: flex;
  flex-direction: column;
  margin: 16px 0;
}
</style>
