<script setup lang="ts">
import { useRegisterForm } from "~/composables/useRegisterForm";
import type { UserRegistration } from "~/types/authentication";
import type { Props as FormProps } from "~/components/molecules/form.vue";
import { useAuthCookie } from "~/composables/useAuthCookie";
import { TextLevel } from "~/types/text";

const config = useRuntimeConfig();
const { validatePassword, validateRegisterForm } = useRegisterForm();

const isRequestComplete = ref(false);
const isSamePassword = ref(false);
const isPasswordValid = ref(false);
const isRequestSent = ref(false);
const isLoading = ref(false);
const hasRequestSucceeded = ref(false);
const isMessageDisplayed = ref(false);
const hasAuthFailed = ref(false);

const messageDisplayed = computed(() => {
  const messages = {
    missingField: "Tous les champs sont obligatoires.",
    differentPasswords:
      "Veuillez saisir le même mot de passe dans les deux champs.",
    invalidPassword: `<p>Le mot de passe doit respecter les critères suivants :</p>
    <ul>
      <li>Il doit contenir au moins une lettre minuscule,</li>
      <li>Il doit contenir au moins une lettre majuscule,</li>
      <li>Il doit contenir au moins un chiffre,</li>
      <li>Il doit contenir au moins un caractère spécial parmi <i>@$!%*?&.</i>,</li>
      <li>Sa longueur doit être comprise entre 8 et 20 caractères.</li>
    </ul>`,
    success: `Votre compte a bien été créé, un email vous a été envoyé à l'adresse renseignée.`,
    failure: "Impossible de créer un compte.",
    authFailure: "Echec de l'authentification.",
  };

  if (!isRequestComplete.value) return messages.missingField;
  if (!isSamePassword.value) return messages.differentPasswords;
  if (!isPasswordValid.value) return messages.invalidPassword;
  if (isRequestSent.value) {
    if (hasAuthFailed.value) return messages.authFailure;
    else {
      return hasRequestSucceeded.value ? messages.success : messages.failure;
    }
  } else return;
});

const postData = async (formData: UserRegistration) => {
  /** 1. Checks if every fields are filled */
  isRequestComplete.value = validateRegisterForm(formData);

  /** 2. Password validation */
  isSamePassword.value = formData.password === formData.passwordConfirmation;
  isPasswordValid.value = validatePassword(
    formData.password,
    formData.passwordConfirmation,
  );

  /** 3. Creation of requestData object that will be POST*/
  if (isPasswordValid.value && isRequestComplete.value) {
    const requestData = {
      username: formData.username,
      email: formData.email,
      password: formData.password,
    };

    /** 4. POST Request */
    isLoading.value = true;
    try {
      const { error } = await useFetch("/users/", {
        baseURL: config.public.apiBoukinBaseUrl,
        method: "POST",
        body: requestData,
      });

      if (error.value) {
        console.error("Error:", error.value);
        hasRequestSucceeded.value = false;
      } else {
        try {
          useAuthCookie(formData.email, formData.password);
          hasRequestSucceeded.value = true;
        } catch (error) {
          hasAuthFailed.value = true;
        }
      }
    } catch (error) {
      console.error("Request failed:", error);
      hasRequestSucceeded.value = false;
    } finally {
      isRequestSent.value = true;
      isLoading.value = false;
    }
  }

  /** 5. Message display */
  isMessageDisplayed.value = true;
  return false; // prevents from reloading this page
};

const registerForm: FormProps = {
  formName: "register",
  submitButton: {
    label: "Créer mon compte",
  },
  fields: [
    {
      name: "email",
      type: "email",
      id: "register-email",
      autocomplete: "e-mail",
      placeholder: "e-mail",
    },
    {
      name: "username",
      type: "text",
      id: "register-username",
      placeholder: "nom d'utilisateur",
    },
    {
      name: "password",
      type: "password",
      id: "register-password",
      autocomplete: "new-password",
      placeholder: "mot de passe",
    },
    {
      name: "passwordConfirmation",
      type: "password",
      id: "register-password-confirmation",
      autocomplete: "new-password",
      placeholder: "confirmation du mot de passe",
    },
  ],
};
</script>

<template>
  <MoleculesForm v-bind="registerForm" @submit="postData" />
  <div v-if="isLoading">Chargement...</div>
  <AtomsTextBlock
    v-if="isMessageDisplayed && messageDisplayed"
    :text="messageDisplayed"
    :level="hasRequestSucceeded ? TextLevel.Success : TextLevel.Warning"
  />
</template>

<style scoped>
form {
  display: flex;
  flex-direction: column;
}
</style>
