<script setup lang="ts">
import type { Book } from "~/types/boukinApi";
import { postOwnedBook } from "~/composables/useBooks";

export interface Props {
  /** ID of the book */
  bookId: Book["book_id"];
  /** Title of the book */
  bookTitle: Book["title"];
  /** Book's author's firstname */
  authorFirstName: Book["author_fname"];
  /** Book's author's lastname */
  authorLastName: Book["author_lname"];
}
defineProps<Props>();

const message = ref("");

const handleAddBook = async (book_id: string) => {
  const { error } = await postOwnedBook(book_id);
  if (error.value) {
    message.value =
      "Une erreur s'est produite lors de l'ajout : " + error.value.message;
  } else {
    message.value = "Livre ajouté à la bibliothèque";
  }
};
</script>

<template>
  <article>
    <div class="wrapper">
      <div class="book-info">
        <p>{{ bookTitle }}</p>
        <p class="secondary-text">
          {{ authorFirstName + " " + authorLastName }}
        </p>
      </div>
      <button class="primary-button" @click="handleAddBook(bookId)">
        Ajouter à ma bibliothèque
      </button>
    </div>
    <p>{{ message }}</p>
  </article>
</template>

<style scoped>
article {
  background-color: var(--pale-100);
  padding: 1rem 2rem;
  justify-content: space-between;
}
.secondary-text {
  font-size: 0.75rem;
}
.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.book-info {
  margin-bottom: 1rem;
}

@media (width >= 400px) {
  .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
  }
  .book-info {
    margin-bottom: 0;
  }
}
</style>
