<script setup lang="ts">
import type { Friendship } from "~/types/friendship";
import type { AuthenticationToken } from "~/types/authentication";

export interface Props {
  /** ID of the friendship*/
  friendshipId: Friendship["friendship_id"];
  /** Username of the friend*/
  username: Friendship["friend"]["username"];
}
const config = useRuntimeConfig();

const props = defineProps<Props>();
const emit = defineEmits(["closeModal", "updateFriendship"]);

const isConfirmationDisplayed = ref(false);
const message = ref("");
const userCookie = useCookie<AuthenticationToken>("userCookie");

const deleteFriendship = async () => {
  const { error } = await useFetch(`/friendships/${props.friendshipId}/`, {
    baseURL: config.public.apiBoukinBaseUrl,
    method: "PATCH",
    headers: {
      Authorization: `Token ${userCookie.value.token}`,
    },
    body: { status: "friendship_over" },
    onResponse({ response }) {
      if (response.status === 204) {
        emit("updateFriendship");
        message.value = "Amitié supprimée.";
      }
    },
  });
  if (error.value)
    message.value = "Suppression impossible :" + error.value.message;
  isConfirmationDisplayed.value = true;
};
</script>

<template>
  <AtomsModal @close-modal="emit('closeModal')">
    <div v-if="!isConfirmationDisplayed">
      <p>
        Êtes-vous sûr·e de vouloir supprimer votre amitié avec {{ username }} ?
      </p>
      <div class="buttons">
        <button class="secondary-button" @click="emit('closeModal')">
          Annuler
        </button>
        <button class="primary-button" @click="deleteFriendship">
          Oui, supprimer
        </button>
      </div>
    </div>
    <p v-else>{{ message }}</p>
  </AtomsModal>
</template>

<style scoped>
.buttons {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 2rem;
}
</style>
