<script setup lang="ts">
import type { Props as InputProps } from "~/components/atoms/input.vue";

export interface Props {
  /** Name of the form */
  formName: string;
  /** Array of inputs used inside the form */
  fields: InputProps[];
  submitButton: {
    /** Label for the submit button (or alt if icon button)*/
    label: string;
    /** Form icon is a search icon */
    hasSearchIcon?: boolean;
    /** Path of the icon (e.g : /_nuxt/assets/svg/example.svg) */
    iconPath?: string;
  };
  /** Accessible name of the form */
  ariaLabel?: string;
}
const props = defineProps<Props>();
const emit = defineEmits(["submit"]);
const handleSubmit = () => {
  emit("submit", { ...data.value });
};

const data = ref(
  props.fields.reduce(
    (acc, field) => {
      acc[field.name] = "";
      return acc;
    },
    {} as Record<string, string>,
  ),
);
</script>

<template>
  <form
    action=""
    method="post"
    :name="formName"
    :aria-label="ariaLabel"
    @submit.prevent="handleSubmit"
  >
    <AtomsInput
      v-for="field in fields"
      :key="field.id"
      v-bind="field"
      v-model="data[field.name]"
    />

    <button :id="formName + '-submit'" type="submit" class="primary-button">
      <img
        v-if="submitButton.hasSearchIcon"
        src="/assets/svg/search.svg"
        :alt="submitButton.label"
      />
      <img
        v-else-if="submitButton.iconPath"
        :src="submitButton.iconPath"
        :alt="submitButton.label"
      />
      <p v-else>{{ submitButton.label }}</p>
    </button>
  </form>
</template>
<style scoped>
form {
  width: auto;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}
img {
  height: 1rem;
  padding: 0 0.5rem;
}
</style>
