<script setup lang="ts">
import type { Friendship } from "~/types/friendship";

export interface Props {
  /** Username of the friend*/
  username: Friendship["friend"]["username"];
  /** ID of the friend*/
  userId: Friendship["friend"]["user_id"];
  /** Username of the friend */
  email: Friendship["friend"]["email"];
  /** ID of the friendship */
  friendshipId: Friendship["friendship_id"];
}
defineProps<Props>();
const emit = defineEmits(["updateFriendship"]);

const isDisplayed = ref(false);
const isModalOpen = ref(false);
</script>

<template>
  <article>
    <div class="texts">
      <a
        :href="`/friends/${friendshipId}/`"
        class="friend"
        :aria-label="`Voir le profil de ${username}`"
        >{{ username }}</a
      >
      <p v-if="isDisplayed" aria-hidden="false">{{ email }}</p>
    </div>
    <div class="buttons">
      <button
        v-if="isDisplayed"
        class="red-button"
        aria-label="Supprimer l'amitié"
        @click="isModalOpen = true"
      >
        <img src="assets/svg/trash-solid.svg" aria-hidden="true" />
      </button>
      <div class="toggle" :class="{ pressed: isDisplayed }">
        <label :for="userId" @keydown.enter="isDisplayed = !isDisplayed">
          <img src="assets/svg/ellipsis.svg" alt="Voir plus" />
        </label>
        <input
          :id="userId"
          type="checkbox"
          aria-label="Afficher les options"
          @change="isDisplayed = !isDisplayed"
        />
      </div>
    </div>
  </article>
  <MoleculesConfirmationModal
    v-if="isModalOpen"
    :friendship-id="friendshipId"
    :username="username"
    @close-modal="isModalOpen = false"
    @update-friendship="emit('updateFriendship')"
  />
</template>

<style scoped>
article {
  display: flex;
  justify-content: space-between;
  margin: 0.5rem 0;
  min-height: 3rem;
}
p {
  color: var(--gray-400);
  font-size: 0.75rem;
  word-break: break-word;
}
.texts {
  margin-top: inherit;
}

.buttons {
  display: flex;
  gap: 16px;
  align-items: center;
}
button {
  width: 3rem;
  padding: 0.6rem;
}

/* toggle input */
img {
  height: 1.25rem;
}
label {
  cursor: pointer;
}
input {
  width: 0;
}
.toggle {
  background-color: var(--pale-100);
  color: var(--brown-100);
  border-radius: 0.5rem;
  border: none;
  width: 3rem;
  cursor: pointer;
  align-content: center;
  text-align: center;
  font-size: 0.75rem;
  padding: 0.5rem 0;
}
.toggle:hover {
  background-color: var(--pale-200);
}
.toggle:has(:focus-visible) {
  outline: 2px solid black;
}
.pressed {
  background-color: var(--pale-200);
  border: 1px solid var(--brown-100);
}
</style>
