<script setup lang="ts">
import type { Friendship } from "~/types/friendship";
import type { AuthenticationToken } from "~/types/authentication";

export interface Props {
  /** ID of the friendship */
  friendshipId: Friendship["friendship_id"];
  /** ID of the user */
  userId: Friendship["friend"]["user_id"];
  /** Username of the user */
  username: Friendship["friend"]["username"];
}
const config = useRuntimeConfig();

const props = defineProps<Props>();
const emit = defineEmits(["updateFriendship"]);
const hasClicked = ref(false);
const userCookie = useCookie<AuthenticationToken>("userCookie");

const updateFriendship = async (
  status: string,
  successMessage: string,
  errorMessage: string,
) => {
  const { error } = await useFetch(`/friendships/${props.friendshipId}/`, {
    baseURL: config.public.apiBoukinBaseUrl,
    method: "PATCH",
    headers: {
      Authorization: `Token ${userCookie.value.token}`,
    },
    body: { status: status },
    onResponse({ response }) {
      if (response.status === 204) {
        message.value = successMessage;
        emit("updateFriendship");
      }
    },
  });

  if (error.value) message.value = errorMessage + error.value.message;

  hasClicked.value = true;
};

const acceptFriendship = () => {
  const successMessage = `Vous êtes désormais ami·e avec <a href="/friends/${props.friendshipId}">${props.username}</a>.`;
  const errorMessage =
    "Une erreur s'est produite lors de l'acceptation de l'amitié.";
  updateFriendship("friendship_active", successMessage, errorMessage);
};

const denyFriendship = () => {
  const successMessage = "Demande d'amitié refusée.";
  const errorMessage = "Une erreur s'est produite lors du refus de l'amitié.";
  updateFriendship("friendship_denied", successMessage, errorMessage);
};

const message = ref(`${props.username} souhaite devenir votre ami·e.`);
</script>

<template>
  <div class="wrapper">
    <p v-html="message" />
    <div v-if="!hasClicked" class="buttons">
      <button
        class="green-button"
        aria-label="Accepter l'amitié"
        @click="acceptFriendship()"
      >
        <span> Accepter </span>
        <img src="assets/svg/check-solid.svg" alt="Accepter l'amitié" />
      </button>
      <button
        class="red-button"
        aria-label="Refuser l'amitié"
        @click="denyFriendship()"
      >
        <span> Refuser </span>
        <img src="assets/svg/xmark-solid.svg" alt="Refuser l'amitié" />
      </button>
    </div>
  </div>
</template>

<style scoped>
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.25rem 0;
  padding: 0.25rem 0;
}
.buttons {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: flex-end;
}
span {
  display: none;
}
img {
  height: 1.5rem;
}

@media (width>= 768px) {
  span {
    display: inline;
  }
}
</style>
