<script setup lang="ts">
import type { AuthenticationToken } from "~/types/authentication";
import {
  ButtonText,
  LoanStatus,
  LoanUpdateMessage,
  LoanUpdateType,
} from "../../types/loan";
const userCookie = useCookie<AuthenticationToken>("userCookie");

interface updateLoanDataValues {
  status: LoanStatus;
  starting_date?: String;
  ending_date?: String;
}
interface LoanDates {
  starting_date: String;
  ending_date: String;
}
interface Props {
  loanUpdateType: LoanUpdateType;
  dates?: LoanDates;
  loanId: String;
}
const props = defineProps<Props>();

const loanStatus = ref("");
const errorMessage = ref("");
const isUpdated = ref(false);
const hasFailed = ref(false);

const loanUpdateMessage = computed(() => {
  switch (loanStatus.value) {
    case LoanStatus.Active:
      return LoanUpdateMessage.Active;
    case LoanStatus.Denied:
      return LoanUpdateMessage.Denied;
    case LoanStatus.ReturnRequested:
      return LoanUpdateMessage.ReturnRequested;
    case LoanStatus.ReturnConfirmed:
      return LoanUpdateMessage.ReturnConfirmed;
    case LoanStatus.ReturnConfirmationPending:
      return LoanUpdateMessage.ReturnConfirmationPending;
  }
});

const url = `/loans/${props.loanId}/`;
async function patchLoanStatus(event: Event) {
  loanStatus.value = (event.target as HTMLInputElement).value;
  const updateLoanData: updateLoanDataValues = {
    status: loanStatus.value as LoanStatus,
  };
  if (props.dates?.starting_date && props.dates?.ending_date) {
    updateLoanData.starting_date = props.dates.starting_date;
    updateLoanData.ending_date = props.dates.ending_date;
  }
  const config = useRuntimeConfig();
  await useFetch(url, {
    baseURL: config.public.apiBoukinBaseUrl,
    method: "PATCH",
    headers: { Authorization: `Token ${userCookie.value.token}` },
    body: updateLoanData,
    onRequestError({ error }) {
      (hasFailed.value = true),
        (errorMessage.value = error.message),
        console.log(error);
    },
    onResponse({ response }) {
      if (response.status === 204) {
        isUpdated.value = true;
      }
    },
    onResponseError({ response }) {
      (isUpdated.value = false),
        (hasFailed.value = true),
        (errorMessage.value = `${response.status} ${response.statusText}: ${response._data}`);
    },
  });
}
</script>

<template>
  <div v-if="!isUpdated">
    <div v-if="loanUpdateType == LoanUpdateType.LoanRequest" class="buttons">
      <button
        class="green-button"
        value="loan_active"
        @click="patchLoanStatus($event)"
        @click.prevent
      >
        {{ ButtonText.AcceptLoanRequest }}
      </button>
      <button
        class="red-button"
        value="loan_denied"
        @click="patchLoanStatus($event)"
        @click.prevent
      >
        {{ ButtonText.DenyLoanRequest }}
      </button>
    </div>
    <button
      v-else-if="loanUpdateType == LoanUpdateType.AskingBookReturn"
      value="return_requested"
      @click="patchLoanStatus($event)"
      @click.prevent
    >
      {{ ButtonText.AskingBookReturn }}
    </button>
    <button
      v-else-if="loanUpdateType == LoanUpdateType.ReturningLoan"
      value="return_confirmation_pending"
      @click="patchLoanStatus($event)"
      @click.prevent
    >
      {{ ButtonText.ReturningLoan }}
    </button>
    <button
      v-else-if="loanUpdateType == LoanUpdateType.BookReturn"
      value="return_confirmed"
      @click="patchLoanStatus($event)"
      @click.prevent
    >
      {{ ButtonText.BookReturn }}
    </button>
  </div>
  <div v-if="isUpdated">
    <p>{{ loanUpdateMessage }}</p>
    <p v-if="dates?.starting_date">
      Le prêt commence le {{ dates.starting_date }}.
    </p>
    <p v-if="dates?.ending_date">Il se termine le {{ dates.ending_date }}.</p>
  </div>
  <p v-if="hasFailed" class="error">
    Erreur durant la tentative de mise à jour du prêt : {{ errorMessage }}
  </p>
</template>

<style scoped>
button {
  height: 40px;
  width: 150px;
}
.error {
  order: 3;
  margin-top: 10px;
  border: 2px solid white;
  padding: 10px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
</style>
