<script setup lang="ts">
import type { AuthenticationToken } from "~/types/authentication";
import type { OwnedBook } from "~/types/boukinApi";

export interface Props {
  /** Title of the ownedbook*/
  title: string;
  /** Author's name of the ownedbook*/
  author: string;
  /** Status of the ownedbook */
  status: OwnedBook["status"];
  /** Whether the loan button is displayed or not */
  hasLoanButton?: boolean;
  /** ID of the ownedbook */
  ownedBookId?: string;
  /** Id of the owned */
  ownerId?: string;
}
const props = defineProps<Props>();
const config = useRuntimeConfig();
const userCookie = useCookie<AuthenticationToken>("userCookie");
const isResolved = ref(false);
const isRequestSuccessful = ref(false);

const sendLoanRequest = async () => {
  const { error } = await useFetch("/loans/request/", {
    baseURL: config.public.apiBoukinBaseUrl,
    headers: {
      Authorization: `Token ${userCookie.value.token}`,
    },
    method: "POST",
    body: {
      owner: props.ownerId,
      borrower: userCookie.value.user_id,
      owned_book: props.ownedBookId,
    },
  });
  if (error.value) {
    console.error("Error:", error.value);
  } else {
    isRequestSuccessful.value = true;
  }
  isResolved.value = true;
};

const buttonLabel = computed(() => {
  return props.status === "available" ? "Emprunter" : "Indisponible";
});
</script>

<template>
  <article class="wrapper">
    <div class="book-cover">
      <img src="assets/svg/logo.svg" alt="Image par défaut du livre" />
    </div>
    <div class="book-info">
      <p>{{ title }}</p>
      <p class="author">{{ author }}</p>
    </div>
    <div class="request">
      <button
        v-if="hasLoanButton && !isResolved"
        class="primary-button"
        :disabled="status !== 'available'"
        @click="sendLoanRequest()"
      >
        {{ buttonLabel }}
      </button>
      <p v-else-if="isRequestSuccessful">Demande envoyée !</p>
      <p v-else-if="hasLoanButton">Demande impossible</p>
    </div>
  </article>
</template>

<style scoped>
.wrapper {
  display: flex;
  flex-direction: column;
  height: 10rem;
  width: 10rem;
  padding: 0;
  margin: 0;
  background-color: var(--pale-400);
  border-radius: 0.5rem;
}
.book-cover {
  display: flex;
  justify-content: center;
  height: 40%;
  padding: 3px 3px;
  background-color: var(--brown-100);
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.book-cover img {
  height: auto;
  width: auto;
}
.book-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60%;
  padding: 0 8px;
}
.author {
  font-style: italic;
}

button {
  width: 100%;
}

.request {
  display: flex;
  justify-content: center;
  height: 40%;
  padding: 3px 3px;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
}
</style>
