<script setup lang="ts">
import type { User } from "~/types/user";
import type { AuthenticationToken } from "~/types/authentication";
import type { Friendship } from "~/types/friendship";

export interface Props {
  /** ID of the researched user */
  userId: User["user_id"];
  /** Username of researched user */
  username: User["username"];
  /** Email of the researched user */
  email: User["email"];
  /** Variant of the card */
  variant: "active" | "disabled" | "alreadyFriends" | "requestSent";
  /** Id of the friendship (if they are already friends) */
  friendshipId?: Friendship["friendship_id"];
}
const config = useRuntimeConfig();

const props = withDefaults(defineProps<Props>(), {
  friendshipId: undefined,
});
const isResolved = ref(false);
const isFriendRequestSent = ref(false);
const userCookie = useCookie<AuthenticationToken>("userCookie");

/** PATCH request if already friends (denied / over) */
const patchFriendship = async () => {
  const { error } = await useFetch(`/friendships/${props.friendshipId}/`, {
    baseURL: config.public.apiBoukinBaseUrl,
    method: "PATCH",
    headers: {
      Authorization: `Token ${userCookie.value.token}`,
    },
    body: {
      status: "friendship_requested",
    },
    onResponse({ response }) {
      if (response.status === 204) {
        isFriendRequestSent.value = true;
      }
    },
  });
  if (error.value) {
    console.error("Error:", error.value);
  }
};

/** POST request if not friends */
const postFriendship = async () => {
  const { error } = await useFetch("/friendships/", {
    baseURL: config.public.apiBoukinBaseUrl,
    method: "POST",
    headers: {
      Authorization: `Token ${userCookie.value.token}`,
    },
    body: {
      requesting_user: userCookie.value.user_id,
      addressed_user: props.userId,
    },
  });
  if (error.value) {
    console.error("Error:", error.value);
  } else {
    isFriendRequestSent.value = true;
  }
};

const sendFriendshipRequest = async () => {
  if (props.friendshipId) {
    patchFriendship();
  } else {
    postFriendship();
  }
  isResolved.value = true;
};
</script>

<template>
  <article class="wrapper">
    <div>
      <p>{{ username }}</p>
      <p class="secondary-text">{{ email }}</p>
    </div>
    <button
      v-if="(variant === 'active' && !isResolved) || variant === 'disabled'"
      :disabled="variant === 'disabled'"
      class="primary-button"
      @click="sendFriendshipRequest()"
    >
      Envoyer une demande
    </button>
    <p v-if="variant === 'alreadyFriends'">Vous êtes déjà ami·e·s.</p>
    <p v-else-if="variant === 'requestSent' || isFriendRequestSent">
      Demande envoyée !
    </p>
    <p v-if="isResolved && !isFriendRequestSent">Demande d'amitié impossible</p>
  </article>
</template>

<style scoped>
article {
  background-color: var(--pale-100);
  display: flex;
  padding: 1rem 2rem;
  justify-content: space-between;
  flex-direction: column;
}
.secondary-text {
  font-size: 0.75rem;
}
div {
  margin-bottom: 1rem;
}

@media (width >= 400px) {
  article {
    flex-direction: row;
  }
}
</style>
