<script setup lang="ts">
export interface Props {
  /** Label of the button */
  label: string;
}
defineProps<Props>();
const emit = defineEmits(["buttonClick"]);

const handleClick = () => {
  emit("buttonClick");
};
</script>

<template>
  <button @click="handleClick">{{ label }}</button>
</template>
