<script setup lang="ts">
import type { FormHTMLAttributes } from "vue";

export interface Props {
  /** Name of the input */
  name: string;
  /** Input type */
  type: "text" | "email" | "password" | "number";
  /** Label of the input */
  label?: string;
  /** Placeholder of the input */
  placeholder?: string;
  /** ID of the input */
  id: string;
  /** Autocomplete attribute */
  autocomplete?: FormHTMLAttributes["autocomplete"];
  /** Whether the input is required or not */
  isRequired?: boolean;
}
const props = withDefaults(defineProps<Props>(), {
  autocomplete: "off",
  isRequired: false,
  label: undefined,
  placeholder: undefined,
});

const model = defineModel<string>();

const isPasswordVisible = ref(false);
</script>

<template>
  <label :for="id" :class="{ 'hidden-label': !label }">{{ label }}</label>
  <div>
    <input
      :id="id"
      v-model="model"
      :type="
        props.type !== 'password'
          ? props.type
          : isPasswordVisible
            ? 'text'
            : 'password'
      "
      :placeholder
      :name
      class="text-input"
      :autocomplete
      :required="isRequired"
      :aria-label="label ? undefined : name"
    />
    <label v-if="type === 'password'" class="toggle">
      <input
        :id="id + '-checkbox'"
        type="checkbox"
        @change="isPasswordVisible = !isPasswordVisible"
      />
      <img
        v-if="isPasswordVisible"
        src="/assets/svg/see.svg"
        alt="cacher le mot de passe"
      />
      <img v-else src="/assets/svg/hide.svg" alt="voir le mot de passe" />
    </label>
  </div>
</template>

<style scoped>
div {
  background-color: var(--pale-300);
  display: flex;
  justify-content: space-between;
  border-radius: 0.5rem;
  flex: 1;
}
.text-input {
  background-color: var(--pale-100);
  padding: 0.5rem 1rem;
  border: 1px solid var(--dark-200);
  border-radius: 0.5rem;
  flex: 1;
}
.text-input:focus {
  outline-color: var(--brown-100);
}
.text-input::placeholder {
  color: var(--gray-400);
}
.toggle {
  background-color: var(--brown-100);
  color: var(--pale-100);
  border-radius: 0.5rem;
  border: none;
  width: 2.5rem;
  cursor: pointer;
  align-content: center;
  text-align: center;
  margin: 0.125rem;
  font-size: 0.75rem;
}
.toggle input {
  opacity: 0;
  pointer-events: none;
  width: 0;
}
.hidden-label {
  display: none;
}
label:focus-within {
  outline: 2px solid var(--brown-100);
  outline-offset: 2px;
}
img {
  height: 1.25rem;
}
</style>
