<script setup lang="ts">
const emit = defineEmits(["closeModal"]);
const handleClose = () => {
  emit("closeModal");
};
</script>

<template>
  <div class="overlay">
    <div class="modal">
      <button class="closeButton" @click="handleClose">×</button>
      <slot />
    </div>
  </div>
</template>

<style scoped>
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--dark-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  background-color: var(--pale-300);
  padding: 2rem;
  padding-top: 3rem;
  border-radius: 0.5rem;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.closeButton {
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--dark-200);
}
</style>
