<script setup lang="ts">
export interface Props {
  /** Name of the segmented control */
  name: string;
  /** Array of the available options */
  options: {
    label: string;
    value: string;
  }[];
}
defineProps<Props>();

const selectedOption = defineModel<string>();
</script>

<template>
  <div>
    <label
      v-for="option in options"
      :key="option.value"
      :class="selectedOption === option.value ? 'selected' : ''"
    >
      <input
        v-model="selectedOption"
        type="radio"
        :name="name"
        :value="option.value"
      />
      <span>
        {{ option.label }}
      </span>
    </label>
  </div>
</template>

<style scoped>
div {
  height: 1.5rem;
  background-color: var(--pale-300);
  border-radius: 0.5rem;
  display: flex;
  padding: 0.125rem;
  margin: 0 3rem;
  width: fit-content;
  align-self: center;
}
label {
  flex: 1;
  text-align: center;
  align-content: center;
  cursor: pointer;
}
.selected {
  background-color: var(--brown-100);
  border-radius: 0.375rem;
  color: var(--pale-300);
  box-shadow: 0px 0px 2px var(--dark-overlay);
  cursor: default;
}
input {
  opacity: 0;
  pointer-events: none;
  width: 0;
}
label:focus-within {
  outline: 2px solid var(--brown-100);
  outline-offset: 2px;
}
span {
  padding: 0 1rem;
}
</style>
