<script setup lang="ts">
import { TextLevel } from "~/types/text";

export interface Props {
  /** Text inside the block */
  text: string;
  /** Level of the message related to a css class */
  level: TextLevel;
}
defineProps<Props>();
</script>

<template>
  <div :class="level">
    <p v-html="text" />
  </div>
</template>

<style scoped>
div {
  border-radius: 0.5rem;
  padding: 0.5rem;
  display: flex;
}
p {
  font-size: 0.85rem;
}
.warning-text {
  color: var(--burgundy-100);
  background-color: var(--warning);
  border: 1px solid var(--burgundy-100);
}
.success-text {
  color: var(--green-200);
  background-color: var(--green-100);
  border: 1px solid var(--green-200);
}
</style>
