<script setup lang="ts">
const route = useRoute();

useHead({
  titleTemplate: (pageTitle: string) => {
    return pageTitle ? `Boukin - ${pageTitle}` : "Boukin";
  },
});
</script>
<template>
  <div>
    <OrganismsNavbar />
    <slot />
    <OrganismsFooter />
  </div>
</template>
