<script setup lang="ts">
import type { Loan } from "~/types/loan";
import type { AuthenticationToken } from "~/types/authentication";
import { LoanUpdateType } from "../../types/loan";
import { fetchLoans } from "../../composables/useLoans";

useHead({ title: "Mes prêts" });

const { totalNumberOfLoans, loans, error: fetchError } = await fetchLoans();
const userCookie = useCookie<AuthenticationToken>("userCookie");

const loansAsOwner = computed(() => {
  const result = loans?.filter(
    (loan: Loan) =>
      loan.owner.user_id === userCookie.value.user_id &&
      loan.status === "loan_active",
  );
  return result || null;
});

const loansAsBorrower = computed(() => {
  const result = loans?.filter(
    (loan: Loan) =>
      loan.borrower.user_id === userCookie.value.user_id &&
      loan.status === "loan_active",
  );
  return result || null;
});
const returnRequestsAsBorrower = computed(() => {
  const result = loans?.filter(
    (loan: Loan) =>
      loan.status === "return_requested" &&
      loan.borrower.user_id === userCookie.value.user_id,
  );
  return result || null;
});
const returnRequestsAsOwner = computed(() => {
  const result = loans?.filter(
    (loan: Loan) =>
      loan.status === "return_requested" &&
      loan.owner.user_id === userCookie.value.user_id,
  );
  return result || null;
});
const pendingReturnConfirmations = computed(() => {
  const result = loans?.filter(
    (loan: Loan) =>
      loan.status === "return_confirmation_pending" &&
      loan.owner.user_id === userCookie.value.user_id,
  );
  return result || null;
});
const loanRequests = computed(() => {
  const result = loans?.filter(
    (loan: Loan) =>
      loan.status === "loan_requested" &&
      loan.owner.user_id === userCookie.value.user_id,
  );
  return result || null;
});

const numberOfActiveLoans = computed(() => {
  const result =
    (loansAsOwner.value?.length || 0) + (loansAsBorrower.value?.length || 0);
  return result;
});

const hasErrorOccured = computed(() => {
  if (fetchError?.value && fetchError.value.statusCode != 404) {
    return true;
  } else {
    return false;
  }
});

const hasNotifications = computed(() => {
  const numberOfOtherLoans =
    (returnRequestsAsOwner.value?.length || 0) +
    (returnRequestsAsBorrower.value?.length || 0) +
    (pendingReturnConfirmations.value?.length || 0) +
    (loanRequests.value?.length || 0);
  if (
    (fetchError?.value.statusCode === 404 || numberOfOtherLoans === 0) &&
    !hasErrorOccured.value
  ) {
    return false;
  } else {
    return true;
  }
});

const hasActiveLoans = computed(() => {
  if (
    (fetchError?.value.statusCode === 404 || numberOfActiveLoans.value === 0) &&
    !hasErrorOccured.value
  ) {
    return false;
  } else {
    return true;
  }
});
</script>

<template>
  <main>
    <header>
      <h1>Mes prêts</h1>
      <NuxtLink to="/loans/new">
        <button class="primary-button">Nouveau prêt</button>
      </NuxtLink>
    </header>
    <section id="notifications-list">
      <h2>Notifications de prêts</h2>
      <p v-if="hasErrorOccured">
        Erreur de chargement des notifications : {{ fetchError }}
      </p>
      <div v-else-if="hasNotifications">
        <ul aria-label="Liste de notifications">
          <div
            v-for="returnRequest in returnRequestsAsBorrower"
            id="return-request"
            :key="returnRequest.loan_id"
          >
            <li>
              {{ returnRequest.owner.username }} souhaite récupérer
              <em> {{ returnRequest.owned_book.book.title }} </em>
            </li>
            <div class="image-wrapper">
              <img src="assets/svg/warning.svg" alt="Icône d'avertissement" />
            </div>
          </div>
          <div
            v-for="returnRequest in returnRequestsAsOwner"
            id="return-request"
            :key="returnRequest.loan_id"
          >
            <li>
              En attente de retour de
              <em>{{ returnRequest.owned_book.book.title }} </em>, prêté à
              {{ returnRequest.borrower.username }}
            </li>
            <div class="image-wrapper">
              <img
                src="assets/svg/hour-glass.svg"
                alt="Icône d'attente de retour d'un livre prêté"
              />
            </div>
          </div>
          <div
            v-for="pendingReturnConfirmation in pendingReturnConfirmations"
            :key="pendingReturnConfirmation.loan_id"
          >
            <li>
              {{ pendingReturnConfirmation.borrower.username }} a déclaré vous
              avoir rendu
              <em> {{ pendingReturnConfirmation.owned_book.book.title }} </em>
            </li>
            <OrganismsLoanDetails
              :loan="pendingReturnConfirmation"
              :loan-update-type="LoanUpdateType.BookReturn"
            />
          </div>
          <div v-for="loanRequest in loanRequests" :key="loanRequest.loan_id">
            <li>
              {{ loanRequest.borrower.username }} désire emprunter
              <em> {{ loanRequest.owned_book.book.title }} </em>
            </li>
            <OrganismsLoanDetails
              :loan="loanRequest"
              :loan-update-type="LoanUpdateType.LoanRequest"
            />
          </div>
        </ul>
      </div>
      <div v-else-if="!hasNotifications">
        <p>Vous n'avez pas de notifications !</p>
      </div>
    </section>
    <section>
      <div id="on-going-loans">
        <div id="top-ongoing-loans">
          <h2>Prêts en cours</h2>
        </div>
        <div v-if="hasErrorOccured">
          <p>Erreur de chargement des prêts : {{ fetchError }}</p>
        </div>
        <div v-else-if="hasActiveLoans" id="on-going-loans-list">
          <p v-if="numberOfActiveLoans === 1">Vous avez un prêt en cours.</p>
          <p v-else-if="numberOfActiveLoans > 1">
            Vous avez {{ numberOfActiveLoans }} prêts en cours.
          </p>
          <ul id="loan-lists" aria-label="Liste de prêts">
            <div v-for="loan in loansAsOwner" :key="loan.loan_id">
              <li>
                <em> {{ loan.owned_book.book.title }} </em>, prêté à
                {{ loan.borrower.username }}
              </li>
              <OrganismsLoanDetails
                :loan="loan"
                :loan-update-type="LoanUpdateType.AskingBookReturn"
              />
            </div>
            <div v-for="loan in loansAsBorrower" :key="loan.loan_id">
              <li>
                <em> {{ loan.owned_book.book.title }} </em>, emprunté à
                {{ loan.owner.username }}
              </li>
              <OrganismsLoanDetails
                :loan="loan"
                :loan-update-type="LoanUpdateType.ReturningLoan"
              />
            </div>
          </ul>
        </div>
        <div v-else-if="!hasActiveLoans">
          <p>Vous n'avez pas de prêts en cours !</p>
        </div>
      </div>
    </section>
  </main>
</template>

<style scoped>
section {
  background-color: var(--pale-100);
}
section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 40px;
  padding: 12px;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: var(--pale-200);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  align-items: center;
}

section h2 {
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 10px;
  font-weight: 400;
}

section h3 {
  padding-left: 10px;
  margin-bottom: 5px;
}

section ul {
  list-style-type: none;
}

section ul div {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  align-items: center;
  justify-content: center;
}

section ul li {
  display: inline-block;
  margin-right: 20px;
  padding-top: 5px;
  font-weight: bold;
  border-bottom: 1px solid black;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  width: 70%;
}

.image-wrapper {
  height: 40px;
  margin-bottom: initial;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-wrapper img {
  height: 100%;
}

#return-request {
  display: flex;
  flex-direction: row;
}

#top-ongoing-loans {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

@media screen and (max-width: 480px) {
  section {
    padding-bottom: 40px;
    background-color: var(--pale-100);
  }

  section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 30px;
    padding-left: 20px;
    padding-right: 10px;
    width: 80%;
  }

  .image-wrapper {
    width: 40%;
  }
}

@media screen and (min-width: 481px) {
  main {
    margin: 0 20%;
  }

  section h3 {
    margin-left: 10px;
  }
  header {
    margin-top: 150px;
  }

  .image-wrapper {
    width: 150px;
  }

  #top-ongoing-loans button {
    margin-right: 15px;
  }

  #notifications-list h2 {
    padding-top: 10px;
  }
}
</style>
