<script setup lang="ts">
import type { AuthenticationToken } from "~/types/authentication";
import type { OwnedBook } from "~/types/boukinApi";
import type { Friendship } from "~/types/friendship";
import { fetchFriendships } from "../../composables/useFriendships";

interface LoanCreationValues {
  owner: String;
  borrower: String;
  owned_book: String;
  starting_date: String;
  ending_date: String;
}

const config = useRuntimeConfig();
const userCookie = useCookie<AuthenticationToken>("userCookie");
useHead({ title: "Nouveau prêt" });

const ownedBooksEndpoint = `/owned-books/`;
const loansEndpoint = `/loans/`;

const { friendships, error: fetchFriendsError } = await fetchFriendships();
const { data: ownedBooks, error: fetchBooksError } = await useFetch(
  ownedBooksEndpoint,
  {
    baseURL: config.public.apiBoukinBaseUrl,
    headers: {
      Authorization: `Token ${userCookie.value.token}`,
    },
  },
);

const activeFriendships = computed(() => {
  const result = friendships?.value.filter(
    (friendship: Friendship) => friendship["status"] === "friendship_active",
  );
  return result || null;
});

const availableOwnedBooks = computed(() => {
  const result = (ownedBooks?.value as OwnedBook[]).filter(
    (ownedBook: OwnedBook) => ownedBook["status"] == "available",
  );
  return result || null;
});

const message = ref("");
const isMessageDisplayed = ref(false);

const ownedBookId = defineModel<String>("ownedBookId");
const borrowerId = defineModel<String>("borrowerId");
const startingDate = defineModel<String>("startingDate");
const endingDate = defineModel<String>("endingDate");

const postLoan = async () => {
  const loanData: LoanCreationValues = {
    owner: userCookie.value.user_id,
    borrower: borrowerId.value as String,
    owned_book: ownedBookId.value as String,
    starting_date: startingDate.value as String,
    ending_date: endingDate.value as String,
  };
  if (
    loanData.owner &&
    loanData.borrower &&
    loanData.owned_book &&
    loanData.starting_date &&
    loanData.ending_date
  ) {
    await useFetch(loansEndpoint, {
      baseURL: config.public.apiBoukinBaseUrl,
      method: "POST",
      body: loanData,
      headers: { Authorization: `Token ${userCookie.value.token}` },
      onRequestError({ error }) {
        console.warn(error.message);
        message.value = `Impossible de créer le prêt: ${error.message}`;
      },
      onResponse({ response }) {
        if (response.status === 201) {
          message.value = "Le prêt a bien été créé !";
        }
      },
      onResponseError({ response }) {
        console.log(response);
        message.value = `Erreur lors de la création du prêt : ${response.status} ${response.statusText} ${response._data}`;
      },
    });
  } else {
    message.value =
      "Création de prêt impossible : tous les champs sont obligatoires pour la création d'un prêt !";
  }
  isMessageDisplayed.value = true;
};
</script>

<template>
  <main>
    <h1>
      <a href="/loans">Mes prêts</a> <span aria-hidden="true"> › </span> Nouveau
      prêt
    </h1>
    <section v-if="activeFriendships && availableOwnedBooks">
      <h2>Prêter un livre à un-e ami-e</h2>
      <form aria-label="Création d'un prêt">
        <label for="book-select">Sélectionner un livre :</label>
        <select id="book-select" v-model="ownedBookId" name="books" required>
          <option value="" disabled>Liste des livres disponibles</option>
          <option
            v-for="availableOwnedBook in availableOwnedBooks"
            :key="availableOwnedBook.owned_book_id"
            :value="availableOwnedBook.owned_book_id"
          >
            {{ availableOwnedBook.book.title }}
          </option>
        </select>
        <label for="friend-select">Sélectionner un-e ami-e :</label>
        <select id="friend-select" v-model="borrowerId" name="friends" required>
          <option value="" disabled>Liste de vos ami-e-s</option>
          <option
            v-for="activeFriendship in activeFriendships"
            :key="activeFriendship.friendship_id"
            :value="activeFriendship.friend.user_id"
          >
            {{ activeFriendship.friend.username }}
          </option>
        </select>
        <label for="start-loan-date-input">Date de début du prêt</label>
        <input
          id="start-loan-date-input"
          v-model="startingDate"
          type="date"
          required
        />
        <label for="end-loan-date-input">Date de fin du prêt</label>
        <input
          id="end-loan-date-input"
          v-model="endingDate"
          type="date"
          required
        />
        <input
          type="submit"
          value="Créer le prêt"
          class="primary-button"
          @click="postLoan"
          @click.prevent
        />
        <p v-if="isMessageDisplayed">{{ message }}</p>
      </form>
    </section>
  </main>
</template>

<style scoped>
a {
  text-decoration: none;
  color: var(--dark-200);
}
section {
  margin: 50px auto;
  background-color: var(--pale-100);
  width: 80%;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
  padding-top: 12px;
}
form {
  margin: 0 auto;
  padding-top: 24px;
  padding-bottom: 24px;
  display: flex;
  flex-direction: column;
  width: 50%;
  font-weight: bold;
}
.wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}
input,
select {
  margin-bottom: 24px;
}

@media screen and (min-width: 481px) {
  section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  h1 {
    padding-top: 150px;
    margin-bottom: 40px;
  }
  h2 {
    margin: 0 auto;
  }
}
</style>
