<script setup lang="ts">
import type { CookieRef } from "#app";
import type { AuthenticationToken } from "~/types/authentication";
import { TextLevel } from "~/types/text";

useHead({ title: "Mon compte" });
const { validatePassword } = useRegisterForm();
const { cleanForm } = useForm();
const config = useRuntimeConfig();
const userCookie: CookieRef<AuthenticationToken | undefined> =
  useCookie<AuthenticationToken>("userCookie", {
    watch: "true",
  });
const message = ref("");
const isPasswordValid = ref();
const hasRequestSucceeded = ref(false);

const updateUser = async (formData: { [key: string]: string }) => {
  isPasswordValid.value = null;
  const body = cleanForm(formData);
  if (Object.keys(body).length === 0) return;
  if (body.password) {
    isPasswordValid.value = validatePassword(body.password, body.password);
    if (!isPasswordValid.value) return;
  }

  const { error: fetchError } = await useFetch(
    `/users/${userCookie.value?.user_id}/`,
    {
      baseURL: config.public.apiBoukinBaseUrl,
      method: "PATCH",
      headers: {
        Authorization: `Token ${userCookie.value?.token}`,
      },
      body: body,
      onResponse({ response }) {
        if (response.status === 204) {
          hasRequestSucceeded.value = true;
          message.value = "Modification effectuée.";
          if (body.username && userCookie.value)
            userCookie.value.username = body.username;
          if (body.email && userCookie.value)
            userCookie.value.email = body.email;
        }
      },
    },
  );
  if (fetchError.value)
    message.value = "Modification impossible : " + fetchError.value.message;
};

const logout = () => {
  userCookie.value = undefined;
  navigateTo("/register");
};
</script>

<template>
  <main>
    <header>
      <h1>Mon compte</h1>
      <AtomsButton
        label="Me déconnecter"
        class="red-button"
        @button-click="logout"
      />
    </header>

    <section>
      <h2>Modifier mes informations</h2>
      <MoleculesForm
        aria-label="Formulaire de modification des informations du compte"
        form-name="update-account-form"
        :fields="[
          {
            id: 'usernameChange',
            name: 'username',
            type: 'text',
            placeholder: userCookie?.username,
            label: 'Modifier mon nom d\'utilisateur',
          },
          {
            id: 'emailChange',
            name: 'email',
            type: 'email',
            placeholder: userCookie?.email,
            label: 'Modifier mon addresse e-mail',
          },
          {
            id: 'passwordChange',
            name: 'password',
            type: 'password',
            label: 'Modifier mon mot de passe',
          },
        ]"
        :submit-button="{
          label: 'Modifier mes informations',
        }"
        @submit="updateUser"
      />
      <AtomsTextBlock
        v-if="message"
        class="text-block"
        :text="message"
        :level="hasRequestSucceeded ? TextLevel.Success : TextLevel.Warning"
      />
      <AtomsTextBlock
        v-if="isPasswordValid === false"
        class="text-block"
        text="<p>Le mot de passe doit respecter les critères suivants :</p>
          <ul>
            <li>Il doit contenir au moins une lettre minuscule,</li>
            <li>Il doit contenir au moins une lettre majuscule,</li>
            <li>Il doit contenir au moins un chiffre,</li>
            <li>Il doit contenir au moins un caractère spécial parmi <i>@$!%*?&.</i>,</li>
            <li>Sa longueur doit être comprise entre 8 et 20 caractères.</li>
          </ul>"
        :level="TextLevel.Warning"
      />
    </section>
  </main>
</template>
<style scoped>
.text-block {
  padding-left: 32px;
  margin: 32px;
  max-width: 400px;
  place-self: center;
}
main {
  margin: 0 16px 64px;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--pale-200);
  padding: 16px 0;
  position: sticky;
  top: 0;
}
section {
  background-color: var(--pale-100);
  padding: 32px 16px;
  margin: 16px 0;
}
h2 {
  margin-bottom: 1rem;
}
form {
  max-width: 360px;
  place-self: center;
}
:deep(.text-input) {
  border: 1px solid var(--dark-200) !important;
}

@media (width>= 480px) {
  header {
    margin-top: 7rem;
  }
}

@media (width>= 768px) {
  header {
    padding: 32px 0 16px;
    top: 7rem;
  }
  main {
    margin: 0 10%;
  }
}

@media (width>=1400px) {
  main {
    margin: 0 20%;
  }
}
</style>
