<script setup lang="ts">
import type { AuthenticationToken } from "~/types/authentication";

useHead({
  title: "Accueil",
});
definePageMeta({
  middleware: "auth",
});
const userCookie = useCookie<AuthenticationToken>("userCookie");
</script>

<template>
  <main>
    <h1>Bienvenue {{ userCookie.username }} !</h1>
  </main>
</template>

<style scoped>
h1 {
  margin-top: 7rem;
}
</style>
