<script setup lang="ts">
definePageMeta({
  layout: false,
});
const selectedForm = ref("login");
</script>

<template>
  <div class="page">
    <div class="hero">
      <div class="text overlay">
        <h1 class="title">Boukin</h1>
        <p class="subtitle">
          La plateforme pour gérer les prêts de livres entre amis
        </p>
      </div>
    </div>

    <div class="formContainer">
      <div class="text desktop">
        <h1 class="title">Boukin</h1>
        <p class="subtitle">
          La plateforme pour gérer les prêts de livres entre amis
        </p>
      </div>
      <AtomsSegmentedControl
        v-model="selectedForm"
        name="authentication"
        :options="[
          { label: 'inscription', value: 'register' },
          { label: 'connexion', value: 'login' },
        ]"
      />
      <OrganismsRegisterForm v-if="selectedForm === 'register'" />
      <OrganismsLoginForm v-if="selectedForm === 'login'" />
      <footer><a href="/legal">Mentions légales</a></footer>
    </div>
  </div>
</template>

<style scoped>
a {
  text-decoration: none;
  color: white;
  margin-left: auto;
  margin-right: auto;
}
footer {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  width: 100%;
}
.page {
  width: 100%;
  height: 100vh;
  background-color: var(--burgundy-200);
}

.no-webp .hero {
  height: 100vh;
  background: url(../assets/images/hero.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
}
.webp .hero {
  height: 100vh;
  background: url(../assets/images/hero-webp.webp);
  background-size: cover;
  background-position: center;
  position: relative;
}

.text {
  color: var(--pale-100);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 12.5%;
  width: 75%;
}

.overlay {
  position: absolute;
  background-color: var(--dark-overlay);
  height: 100vh;
}

.desktop {
  display: none;
}

.title {
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}

.subtitle {
  font-size: 1.25rem;
}

.formContainer {
  background-color: var(--burgundy-200);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 12.5%;
  border-radius: 2rem 2rem 0rem 0rem;
  box-shadow: 0rem -1rem 1rem var(--dark-overlay);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 60%;
}

@media (width >= 1024px) {
  a {
    margin-right: 0;
  }
  .page {
    display: flex;
    flex-direction: row;
  }
  .hero {
    flex: 1;
  }
  .formContainer {
    position: relative;
    border-radius: 0px;
    padding: 0 6.25%;
  }
  .overlay * {
    display: none;
  }
  .desktop {
    display: block;
    padding: 0;
    width: max-content;
  }
}
</style>
