<script setup lang="ts">
import type { AuthenticationToken } from "~/types/authentication";
import type { OwnedBook } from "~/types/boukinApi";

useHead({ title: "Ma bibliothèque" });
const config = useRuntimeConfig();
const userCookie = useCookie<AuthenticationToken>("userCookie");

const { data, error: fetchError } = await useFetch("/owned-books/", {
  baseURL: config.public.apiBoukinBaseUrl,
  method: "GET",
  headers: {
    Authorization: `Token ${userCookie.value.token}`,
  },
});
const allOwnedBooks = (data.value as OwnedBook[]) ?? [];
const ownedbooks = ref(allOwnedBooks);

const selectedOption = ref("all");
const emptyOwnedbookListMessage = computed(() => {
  switch (selectedOption.value) {
    case "all":
      return "Vous ne possédez aucun livre.";
    case "loaned":
      return "Aucun de vos livres n'est en cours de prêt.";
    case "available":
      return "Vous n'avez aucun livre disponible à prêter.";
    case "not visible":
      return "Vous n'avez aucun livre caché.";
  }
});

function filterOwnedbooks() {
  if (selectedOption.value != "all") {
    ownedbooks.value = allOwnedBooks.filter((book) => {
      return book.status == selectedOption.value;
    });
  } else {
    ownedbooks.value = allOwnedBooks;
  }
}
</script>

<template>
  <main>
    <header>
      <h1>Ma bibliothèque</h1>
      <NuxtLink to="/books/new" class="navigation-button primary-button">
        <img src="assets/svg/plus-solid.svg" aria-hidden="true" />
        <span>Ajouter un livre</span>
      </NuxtLink>
    </header>
    <section>
      <div class="filter" aria-labelledby="id-filter-label">
        <h2 id="id-filter-label">Filtrer mes livres :</h2>
        <AtomsSegmentedControl
          v-model="selectedOption"
          role="radiogroup"
          name="filter"
          :options="[
            { label: 'tous', value: 'all' },
            { label: 'prêtés', value: 'loaned' },
            { label: 'disponibles', value: 'available' },
            { label: 'cachés', value: 'not visible' },
          ]"
          @change="filterOwnedbooks"
        />
      </div>
      <p v-if="fetchError">
        Erreur de chargement des livres possédés. ({{ fetchError.message }})
      </p>
      <p v-else-if="!ownedbooks.length">{{ emptyOwnedbookListMessage }}</p>
      <ul v-else id="ownedbooks-list" aria-label="Liste des livres possédés">
        <li v-for="ownedbook in ownedbooks" :key="ownedbook.owned_book_id">
          <MoleculesOwnedbookCard
            :title="ownedbook.book.title"
            :author="
              ownedbook.book.author_fname + ' ' + ownedbook.book.author_lname
            "
            :status="ownedbook.status"
          />
        </li>
      </ul>
    </section>
  </main>
</template>

<style scoped>
main {
  margin: 0 1rem 4rem;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--pale-200);
  padding: 1rem 0;
  position: sticky;
  top: 0;
  align-items: center;
}
span {
  display: none;
}
img {
  height: 1.5rem;
  vertical-align: middle;
}
.navigation-button {
  padding: 0.5rem 0;
}
section {
  background-color: var(--pale-100);
  margin-top: 5px;
  padding: 5px 10px;
  height: 100%;
  overflow: auto;
}
section ul {
  list-style-type: none;
  padding: 1% 1%;
  margin: 0;
}
section li {
  display: inline-block;
  vertical-align: top;
  padding: 1%;
}
section li:focus {
  outline: 1px solid black;
}
.filter {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  margin-bottom: 5px;
}

@media (width>= 480px) {
  header {
    margin-top: 7rem;
  }
}

@media (width>= 768px) {
  span {
    display: inline;
  }
  header {
    padding: 32px 0 16px;
    top: 7rem;
  }
  main {
    margin: 0 10%;
  }
  .navigation-button {
    padding: 0.5rem;
  }
  .filter {
    display: flex;
    flex-direction: row;
  }
}
@media (width>=1400px) {
  main {
    margin: 0 20%;
  }
}
</style>
