<script setup lang="ts">
useHead({ title: "Ajouter un livre" });
const selectedMethod = ref("new-book-search");
</script>

<template>
  <main>
    <header>
      <h1>
        <a href="/books">Ma bibliothèque</a>
        <span aria-hidden="true"> › </span>
        Ajouter un livre
      </h1>
    </header>
    <AtomsSegmentedControl
      v-model="selectedMethod"
      name="new-book-method-switch"
      :options="[
        { label: 'recherche', value: 'new-book-search' },
        { label: 'ajout&nbsp;manuel', value: 'new-book-form' },
      ]"
    />
    <OrganismsNewBookSearch v-if="selectedMethod === 'new-book-search'" />
    <OrganismsNewBookForm v-else />
  </main>
</template>

<style scoped>
main {
  margin: 0 16px 64px;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: var(--pale-200);
  padding: 16px 0;
  position: sticky;
  top: 0;
}
a {
  text-decoration: none;
  color: var(--dark-200);
}

@media (width>= 480px) {
  header {
    margin-top: 7rem;
  }
}

@media (width>= 768px) {
  header {
    padding: 32px 0 16px;
    top: 7rem;
  }
  main {
    margin: 0 10%;
  }
}

@media (width>=1400px) {
  main {
    margin: 0 20%;
  }
}
</style>
